{% extends 'base.html.twig' %}


{% block javascripts %}
    
        
 {% endblock %}

{% block body %}
   <style>
      body {
        background-color: #FFEBEE
    }
    
    h1 {
        
        text-align:center;
    }
    
  
    
    .card {
        /* width: 400px; */
        background-color: #fff;
        border: none;
        border-radius: 12px;
        max-width: 600px;
        margin-left: 400px;
    }
    
    
   
    
    .card-body {
        padding:10px;
    }
  
   </style>

   <h1>LISTE DES DIRIGEANTS ET SOCIETES</h1>

       <button class="btn btn-primary" type="submit" id="bouton"><a href="{{path('liste_dirigeant')}}">DIRIGEANT</a></button>
        <button class="btn btn-primary" type="submit" id="bouton"><a href="{{path('liste_societe')}}">SOCIETE</a></button>
   
{% endblock %}

