{% extends 'base.html.twig' %}


{% block javascripts %}
    
        
 {% endblock %}

{% block body %}
   <style>
      body {
        background-color: #FFEBEE
    }
    
    h1 {
        
        text-align:center;
    }
    
  
    
    .card {
        /* width: 400px; */
        background-color: #fff;
        border: none;
        border-radius: 12px;
        max-width: 600px;
        margin-left: 400px;
    }
    
    p{
        text-align:center;
        font-size:30px;
        font-style:italic;
    }
   
    
    .card-body {
        padding:10px;
    }
  
   </style>

   <h1><marquee>A PROPOS DE CE TEST SYMFONY/PHP/JAVASCRIPT</marquee></h1>

       <p>Les buts de ce test sont : <p/>
       <p>- Savoir afficher des différentes contenus en fonction du choix de l'utilisateur dans une page. </p>
       <p>-Savoir envoyer les données de deux formulaires dans une même page sans perdre et sans confondre les données.</p>
       
   
{% endblock %}

