{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<style>
       body {
        background-color: #FFEBEE
    }
    
    h1 {
        
        text-align:center;
        margin-top:100px;
    }
    #boutons{
        width:300px;
        height:100px;
        margin-left:200px;
        font-size:50px;
        
    }
    #bouton{
        width:300px;
        height:100px;
        margin-left:300px;
         font-size:50px;
         background-color:white;
        
    }
    #bouton a{
        margin-top:50px;
         text-decoration:none;
         color:grey;
    }
     #boutons a{
         text-decoration:none;
          color:grey;
    }

    
  
    
    .card {
        /* width: 400px; */
        background-color: #fff;
        border: none;
        border-radius: 12px;
        max-width: 600px;
        margin-left: 400px;
    }
    
    
   
    
    .card-body {
        padding:10px;
    }
</style>
<h1>AFFICHER LES LISTES</h1>

                 <button class="btn btn-primary" type="submit" id="boutons"><a href="{{path('liste_dirigeant')}}">DIRIGEANT<a/></button>
                <button class="btn btn-primary" type="submit" id="bouton"  ><a href="{{path('liste_societe')}}">SOCIETE<a/></button>


{% endblock %}
